# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.idea
.idea/
.idea/*
.vscode/
.vscode/*

gmon.out

SequentialHeft
test/task_graph_10000_1000_seed_80905.json
test/benchmarks/*.json

cpp_on_lambda/include
cpp_on_lambda/bootstrap
cpp_on_lambda/bootstrap.zip

test/task_graph_50000_100_seed_27527.json
test/task_graph_80000_5_seed_10565.json

xxlargeComplex.json

output_moncef_jsonian.json
test/jsonianAdaptor*
test/DagGenerator.cpp

.clangd
